<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class=" navbar-inner">
        <h1 class="text-info offset5">GuestBook</h1>
        <br/>
    </div>

    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>


